<h2>Reactive: Switches</h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="gender" value="M" id="male" />
        <label class="form-check-label" for="male">Male</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="gender"
          value="F"
          id="female"
        />
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="allowNotifications"
          id="allowNotifications"
        />
        <label class="form-check-label" for="allowNotifications"
          >I want to receive notifications</label
        >
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="acceptTerms"
          id="acceptTerms"
        />
        <label class="form-check-label" for="acceptTerms"> Accept terms and conditions </label>
      </div>
      @if (formUtils.isInvalidField(myForm,'acceptTerms')) {
      <span class="form-text text-danger"> You must accepts the site terms and conditions</span>
      }
    </div>
  </div>

  <!-- Submit button -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">Save</button>
    </div>
  </div>
</form>

<h5>Form Value</h5>
<pre>{{ myForm.value | json }}</pre>
<br />

<h5>Persona</h5>
<pre>{{ myForm.controls['gender'].value | json }}</pre>
<br />

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

<!-- <h5>Terms</h5> -->
<!-- <pre>{{ myForm.controls?.acceptTerms?.errors | json }}</pre> -->

<!-- <br>
<pre>Conditions: </pre> -->
