<h2>Reactive Validations</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fullname</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Enter your fullname"
            formControlName="fullname"
          />

          @if (formUtils.isInvalidField(myForm,'fullname')) {
          <span class="form-text text-danger"
            >You must add your name and last name(s) without spaces</span
          >
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Enter your email"
            formControlName="email"
          />
          @if (formUtils.isInvalidField(myForm,'email')) {
          <span class="form-text text-danger">{{ formUtils.getFieldError(myForm, 'email') }}</span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="enter the username"
            formControlName="username"
          />
          @if (formUtils.isInvalidField(myForm,'username')) {
          <span class="form-text text-danger">{{
            formUtils.getFieldError(myForm, 'username')
          }}</span>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Enter your password"
            formControlName="password"
          />
          @if (formUtils.isInvalidField(myForm,'password')) {
          <span class="form-text text-danger">{{
            formUtils.getFieldError(myForm, 'password')
          }}</span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm the password"
            formControlName="confirmPassword"
          />

          @if (formUtils.isInvalidField(myForm,'confirmPassword')) {
          <span class="form-text text-danger">{{
            formUtils.getFieldError(myForm, 'confirmPassword')
          }}</span>
          } @if (myForm.errors?.['fieldsNotEquals'] &&
          !formUtils.isInvalidField(myForm,'confirmPassword')) {
          <span class="form-text text-danger">Passwords do not match</span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ myForm.valid }}</h2>
<h2>Form Status: {{ myForm.status }}</h2>
<h2>Form Pending: {{ myForm.pending }}</h2>
<h2>Form value:</h2>
<pre>{{ myForm.value | json }}</pre>
<pre>{{ myForm.errors | json }}</pre>

<h5>Name</h5>
<pre>{{ myForm.controls['fullname'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls['username'].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.controls['password'].errors | json }}</pre>

<h5>Confirm</h5>
<pre>{{ myForm.controls['confirmPassword'].errors | json }}</pre>
